* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(to right top, #c81daa, #a35ad4, #727ceb, #3a96f2, #12a9eb);
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    background: #00000070;
    color: #fff;
    padding: 1.4rem;
    margin: 0 0 4em 0;
}

header h1 {
    line-height: 2rem;
}

header a {
    display: block;
    color: #fff;
    line-height: 2rem;
}

#description {
    padding: 1rem;
    font-size: 1.5rem;
    max-width: 1200px;
    margin: 0 auto 2em auto;
    background: #99999970;
    border: 0.2rem solid #00000070;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: space-between;
    height: 4100px;
}

.item {
    margin-bottom: 1.5rem;
    width: calc(33% - 1.5rem);
    display: block;
    max-height: 780px;
}

.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.item img {
    border: 0.2em solid #00000070;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 0.25rem;
}

.like-button {
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    display: block;
    background: #99999970;
    border: 0.2rem solid #00000070;
}

.like-button:hover {
    background: #00000070;
}